/*=========================
    Top Bar of Home page 
  ==========================*/

.Topbar {
  display: flex;
  color: rgb(200, 236, 137);
  background-color: #474747;
  justify-content: space-around;
  padding-top: 15px;
}

.sp-contact-info {
  display: flex;
  list-style: none;
  gap: 15px;
  padding-left: 270px; /* Adjust as needed */
}

/* Apply styling to all icons and text within .sp-contact-info */
.sp-contact-info * {
  text-decoration: none; /* Remove underlines from links */
  color: rgb(200, 236, 137); /* Change color to green */
}


 




/*-----------Responsive Moode..............*/


    /*-----------Responsive Mode for smaller screens (up to 768px)-----------*/
    @media screen and (max-width: 768px) {
      .Topbar {
        display: none !important; /* Hide the entire Topbar on smaller screens */
      }
  
    .social-icons,.sp-contact-info {
      padding-left: 1px; /* Remove left padding on smaller screens */
      justify-content: center; /* Center items in the row */
    }
  }
  